v16
/GDKSamples/Live/NetRumble/x64
/GDKSamples/Live/NetRumble/Client/Desktop/NetRumble.vcxproj.user
/GDKSamples/Live/NetRumble/Dependencies/SteamSDK/steamworksexample/SteamworksExample.vcxproj.user
/GDKSamples/Live/NetRumble/packages
/GDKSamples/Live/NetRumble/Client/Desktop/Debug
/GDKSamples/Live/NetRumble/Client/Desktop/Release
